<html>

<head>

<title>Assignment 3</title>

<link rel="stylesheet"
href="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">

<script>
    window.watsonAssistantChatOptions = {
      integrationID: "077aae19-3307-4a90-90b3-9dc9fd7916fd", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "3f42b0bd-fe7d-49ed-b006-c88f5472a62f", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

</head>

<body>
<center>
<h1>Fashion dress images</h1><br><br>

<img src="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic%201.png" width="300" height="300"><br><br>

<img src="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic%202.png" width="300" height="300"><br><br>

<img src="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic%203.jpg" width="300" height="300"><br><br>

<img src="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic%204.jpg" width="300" height="300"><br><br>

<img src="https://newsp.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic%205.jpg" width="300" height="300"><br><br>
</center>
</body>

</html>