body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1{
    color: aqua;
}
.container{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
     /* box-sizing: border-box; */
     width: 12cm;
     padding: 10px 20px;
     border-radius: 10px;
     margin-left: auto;
     margin-right: auto;
}

label{
    width: 100px;
    display: inline-block;
    margin: 0.1cm;
    font-size: 16px;
    font-weight: bold;
}
.Reg_form{
    padding: 10px;
}