<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style type="text/css">
      body{
        background-image: radial-gradient(circle, #c079c8 0%, #00d4ff 100%);
      }
    </style>
    
    <style>
      center{
        margin: 300px 0 0 0;
      }
      button{
        font-size: 20px;
        border-radius: 20px;
        border-color: none;
      }
      a{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <center>
      <h1> Welcome You are Logged In</h1><Br>
    <button><a href="/logout">LOGOUT</a></button>
    </center>
  </body>
</html>

